.container {

}
.diff-box {
	position: relative;
}
.diff-box img.diff-img {
	position: absolute;
	top: 0;
	left: 0;
}
.diff-img {
	opacity: 0;
	transition: opacity .3s;
}
.dif-slider {
	max-width: 300px;
}